@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;800&family=Red+Hat+Display:wght@300&display=swap');

:root {
  --colorFondo: hsl(225, 100%, 94%);
  --color2: #fcb173;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  background-color: var(--colorFondo);
  // background-image: url(../img/fondoTop.svg), url(../img/fondoBotton.svg);
  background-image: url(../assets/img/pattern-background-desktop.svg);
  background-repeat: no-repeat, no-repeat;
  //background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  background-position: bottom 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: white;
  width: 328px;
  height: 500px;
  border-radius: 16px;
  font-family: 'Red Hat Display', sans-serif;
  overflow: hidden;

  &-header {
    width: 100%;
    display: block;
  }

  &-body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      margin-top: 40px;
      font-size: 3rem;
    }

    &-text {
      color: hsl(240, 1%, 57%);
      font-size: 15px;
      text-align: center;
      margin-top: -10px;
      width: 78%;
    }

  }

  &-resumen {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 85%;
    height: 70px;
    margin-left: 30px;
    background-color: rgb(232, 245, 245, 0.8);
    border-radius: 20px;

    &-data {
      display: flex;
      align-items: center;
      gap: 10px;
      flex: auto;
      margin-left: 20px;

      &-icon {
        display: flex;
        width: 37px;

        &-img {
          width: 100%;
        }
      }

      &-detail {
        &-pago {
          font-size: 14px;
          margin: opx;
          font-weight: 900;
          margin-top: 10px;
        }

        &-prices {
          margin-top: -10px;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    &-change {
      margin-right: 20px;
      font-weight: 700;
      font-size: 14px;
      color: hsl(245, 75%, 52%);
      cursor: pointer;

      &:hover {
        color: hsl(245, 75%, 52%);
      }
    }
  }

  &-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 85%;
    height: 70px;
    margin-left: 30px;
    margin-top: 15px;

    &-succes {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      gap: 10px;
      width: 100%;
      border-radius: 15px;
      font-size: 15px;
      background-color: hsl(245, 75%, 52%);
      color: white;
      cursor: pointer;
      border-color: hsl(245, 75%, 52%);

      &:hover {
        background-color: hsl(249, 63%, 64%);
        border-color: hsl(249, 63%, 64%);
      }
    }

    &-cancel {
      display: flex;
      height: 40px;
      border-radius: 15px;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 15px;
      background-color: white;
      border: none;
      outline: none;
      color: rgb(160, 160, 160);
      margin-top: 7px;
      cursor: pointer;

      &:hover {
        color: rgb(34, 34, 34);
        font-size: bold;
      }
    }
  }
}